.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: #000;
  color: white;
}

@media (max-width: 1279px) {
	.page {
    min-width: 320px;
  }
}